
      <div _ngcontent-nqi-11="" class="arcade-form">
    <form _ngcontent-nqi-11="" novalidate="" class="ng-pristine ng-valid ng-touched">

        <div _ngcontent-nqi-11="" class="title-area">
            <h1 _ngcontent-nqi-11="" class="title" routerlink="/">Bullshit</h1>
            <h3 _ngcontent-nqi-11="" class="sub-title">Enter a game PIN</h3>
            <div _ngcontent-nqi-11="" class="separator">♦</div>
        </div>

        <div _ngcontent-nqi-11="" class="controls">
            <p _ngcontent-nqi-11="" class="control">
                <input _ngcontent-nqi-11="" autofocus="" class="input is-large pin-input ng-pristine ng-valid ng-touched" name="pin" placeholder="Game PIN" type="text">
            </p>

            <p _ngcontent-nqi-11="" class="control">
                <input _ngcontent-nqi-11="" class="input is-large pin-input ng-pristine ng-valid ng-touched" name="nickname" placeholder="Nickname" type="text">
            </p>

            <!--template bindings={}-->

            <button _ngcontent-nqi-11="" class="button is-primary is-medium is-fullwidth" type="submit" disabled="">JOIN</button>
        </div>
    </form>
</div>

