<section  class="game-staging">
    <!--template bindings={}--><app-game-header  ><div  class="game-header" style="visibility: visible;">
    <!--template bindings={}--><span  class="pin"> PIN:{{ gameId }} </span>

    <!--template bindings={}-->

    <!--template bindings={}--><button  ng-click ="startGame()" class="button is-primary"> START </button>

    <!--template bindings={}-->

    <!--template bindings={}-->
</div></app-game-header>
    <!--template bindings={}-->

    <!--template bindings={}-->

    <div  class="game-main">
         <!--template bindings={}-->

        <div  class="spacer is-hidden-mobile"> </div>

        <!--template bindings={}--><div  class="columns is-mobile is-multiline">
            <!--template bindings={}--><div ng-repeat="player in players"  class="player column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
                <img  class="picture" src="/static/framework/images/avatar-bull/avatar0.png">
                <span > {{  player.nickname }} </span>
            </div>
        </div>

         <!--template bindings={}-->
    </div>

    <!--template bindings={}--><app-game-footer  _nghost-nqi-15=""><div  class="game-footer">
    <span  class="name"> {{ nickname }} </span>
    <span  class="score">  </span>
</div>
</app-game-footer>
</section>