<section class="show-question">
    <app-game-header>
        <div class="game-header" style="visibility: visible;">
            <span class="pin"> PIN: {{ gameId }} </span>
            <span class="text">{{ countDown }}</span>

        </div>
    </app-game-header>
    <!--template bindings={}-->

    <div class="game-main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="{{ face }}" class="img-responsive" height="180"/>
                    </div>
                    <div class="col-sm-8">
                        <canvas id="snapshot" class="img-responsive"  ></canvas>
                    </div>
                </div>
                <div class="col-lg-12 img-responsive" ng-show="webcamError">
                    <span>Webcam could not be started. Did you give access to it?</span>
                </div>
            </div>

            <div class="row">

                <webcam channel="channel"
                        on-streaming="onSuccess()"
                        on-error="onError(err)"
                        on-stream="onStream(stream)"></webcam>
                <button ng-click="makeSnapshot()">take picture</button>
                <div class="row">

        <!--template bindings={}-->

        <!--template bindings={}-->
    </div>

    <!--template bindings={}-->
    <app-game-footer _nghost-nqi-15="">
        <div class="game-footer"></div>
        <span class="score">  </span>
    </app-game-footer>
</section>


