<section  class="show-question">
    <app-game-header  ><div class="game-header" style="visibility: visible;">
    <!--template bindings={}--><span class="pin"> PIN: AAUR </span>

    <!--template bindings={}-->

    <!--template bindings={}-->

    <!--template bindings={}--><span class="text"> 1 OF 7 </span>

    <!--template bindings={}-->
</div></app-game-header>
    <!--template bindings={}--><progress  class="progress is-primary" value="26002" max="45000"></progress>

    <div  class="game-main">
        <!--template bindings={}-->

        <!--template bindings={}-->

        <!--template bindings={}--><form  class="ng-untouched ng-pristine ng-valid">
            <p  class="question"> On May 1 2013, Jaden Smith (@officialjaden) tweeted: "How can ________ be real if our eyes aren’t real" </p>

            <p  class="control">
                <input  autofocus="" class="input ng-untouched ng-pristine ng-valid" maxlength="40" name="answer" type="text">
                <!--template bindings={}-->
            </p>

            <p  class="control">
                <button  class="button is-primary is-fullwidth" type="submit" disabled="">SEND</button>
            </p>
        </form>

        <!--template bindings={}-->

        <!--template bindings={}-->
    </div>

    <!--template bindings={}--><app-game-footer  _nghost-nqi-15=""><div  class="game-footer">
    <span  class="name"> RON </span>
    <span  class="score">  </span>
</div>
</app-game-footer>
</section>