﻿
<html lang="en" data-ng-app="app" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <title data-ng-bind="pageTitle()">Packet - Angular Bootstrap Admin Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/framework/css/style.css">
    <link rel="stylesheet" href="/static/framework/css/bshit.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="/static/framework/modules/ui-router.js"></script>
        <script src="https://cdn.rawgit.com/jonashartmann/webcam-directive/master/dist/webcam.min.js"></script>


</head>
<body>
    <div ui-view id="app" class="lyt-2" ng-class="{'app-mobile' : app.isMobile, 'app-navbar-fixed' : app.layout.isNavbarFixed, 'app-sidebar-fixed' : app.layout.isSidebarFixed, 'app-sidebar-closed':app.layout.isSidebarClosed, 'app-footer-fixed':app.layout.isFooterFixed}">

    </div>


<!-- angualar app -->
<script src="/static/framework/js/app.js"></script>
    <script src="/static/framework/js/main.js"></script>
    <script src="/static/framework/js/config.router.js"></script>
    <script src ="static/framework/js/services/ApiService.js"></script>
    <script src="/static/framework/views/CreateGameView/JoinGameController.js"></script>
 <script src="/static/framework/views/BeforeStartView/beforeStartController.js"></script>
<script src="/static/framework/views/ShowQuestionView/ShowQuestionController.js"></script>
<script src="static/framework/views/RoundSummaryView/RoundSummaryController.js"></script>

</body>



</html>